{% extends "page_layout.html" %}

{% block title %}Frontpage{% endblock %}

{% block content %}
	<form method="POST" action="/">
		<label for="search">Search recipes</label>
		<input type="text" name="search" id="search" {% if search %} value="{{ search }}" {% endif %}>
		<select name="tag" id="tag">
			<option value=""> </option>
			{% for tag in tags %}
			<option value="{{tag.id}}" {% if searchtag and tag.id == searchtag %} selected {% endif %}>{{tag.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Search">
	</form><br><br>	
	{% if recipes == None %}
	<h3>No recipes available yet</h3>
	{% else %}
	<table class="recipelist">
	{% for recipe in recipes %}
	<tr><td><a href="/recipe/display/{{recipe.id}}">{{recipe.name}}</a></td>
		<td>by {{recipe.owner}}</td>
		<td>{% if recipe.id_user==session['user_id'] %}<a href="/recipe/edit/{{recipe.id}}">Edit</a>{% endif %}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</table><br><br>
	{% if session["user_id"] %}
	<a href="/recipe/add" style="padding-left: 1em; padding-bottom: 1em;">Add recipe</a>
	{% endif %}
{% endblock %}
