{% extends "page_layout.html" %}

{% block title %}Frontpage{% endblock %}

{% block content %}
<form method="POST" action="/">
		<label for="search">Search recipes</label>
		<input type="text" name="search" id="search">
		<label for="tag">Tag</label>
		<select name="tag">
			<option value=""> </option>
			{% for tag in tags %}
			<option value="{{tag.id}}">{{tag.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Search">
	</form><a href="/">Clear</a><br><br>	
	{% if recipes == None %}
	<h3>No recipies available yet</h3>
	{% else %}
	<table>
	{% for recipe in recipes %}
	<tr><td><a href="/recipe/display/{{recipe.id}}">{{recipe.name}}</a></td><td>{% if recipe.id_user==session['user_id'] %}<a href="/recipe/edit/{{recipe.id}}">Edit</a>{% endif %}</td></tr>
	{% endfor %}
	{% endif %}
	</table>
	{% if session["user_id"] %}
	<a href="/recipe/add">Add recipe</a>
	{% endif %}
{% endblock %}
