<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <h1>Recipes for fun</h1>
    <div id="uppermenu">{% if session['user_id'] %}
      Welcome, {{ session['username'] }} <a href="/user/logout">Logout</a><br>
      <a href="/user/show">Own user page</a><br>
      {% else %}<a href="/user/register">Register</a> <a href="/user/login">Login</a>
      {% endif %}
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}
    </div>
    <div id="content">
      <a href="/">Back to recipe list</a><br><br>
        {% block content %}
        {% endblock %}
    </div>
</body> 
</html>