{% extends "page_layout.html" %}

{% block title %}Display Recipe{% endblock %}

{% block content %}

	<h2>Display Recipe {{recipe.name}}</h2>
	{% if recipe.picture != None %}
		<div id="imagecontainer"><img src="/recipe/image/get/{{recipe.id}}" alt="recipeimage"></div>
	{%endif%}
	<p><h4>Ingredients:</h4>{{recipe.ingredients}}</p>
	<p><h4>Instructions:</h4>{{recipe.instructions}}</p>
	<p><h4>Tags:</h4>{{ recipe.tags }}</p>
	<p><h4>Comments:</h4>
	{% if comments == None or comments|length==0 %}
	<h3>No comments</h3>
	{% else %}
	<h2>Average Grade: {{comments[0].average}}</h2>
	<table>
		<tr><th>Comment</th><th>Grade</th><th> </th></tr>
	{% for comment in comments %}
	<tr><td>{{ comment.comment }}</td>
	    <td>{{ comment.grade }}</td>
		<td>{% if session['user_id']==comment['id_user'] %}<a href="/comment/delete/{{comment.id}}">X</a>{%endif%}</td></tr>
	{%endfor%}
	</table>
	{%endif%}<br>
	<form method="post" action="/comment/add/{{recipe.id}}">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		<label for="comment">Comment</label>
		<input type="text" id="comment" name="comment">
		<label for="grade">Grade</label>
		<select id="grade" name="grade">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8" selected>8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>		
		<input type="submit" value="Add comment">
	</form>
	</p>
{% endblock %}