{% extends "page_layout.html" %}

{% block title %}Add Recipe{% endblock %}

{% block content %}

	<h2>Add Recipe</h2>
	<form method="post" action="/recipe/add">
		<label for="name">Name of the Recipe:</label>
		<input type="text" id="name" name="name" required><br><br>
		<label for="incredients">Incredients:</label>
		<textarea type="text" id="incredients" name="incredients" required></textarea><br><br>
		<label for="instructions">Instructions:</label>
		<textarea type="text" id="instructions" name="instructions" required></textarea><br><br>
		<label for="tags">Tags:</label>
		<select name="tags" id="tags" multiple>
			{% for tag in tags %}
			<option value="{{tag.id}}">{{tag.name}}</option>
			{% endfor %}
		</select><br><br>
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
		<input type="submit" value="Add Recipe">
	</form>
{% endblock %}