{% extends "page_layout.html" %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}

	<h2>Edit Recipe</h2>
	{% if recipe.picture != None %}
		<div id="imagecontainer"><img src="/recipe/image/get/{{recipe.id}}" alt="recipeimage"></div>
	{%endif%}
	<form method="post" enctype="multipart/form-data" action="/recipe/image/upload/{{recipe.id}}">
		<label for="image">Upload image:</label>
		<input type="file" accept=".jpg" name="image">
		<input type="submit" value="Upload">
	</form><br><br>
	<form method="post" action="/recipe/edit/{{recipe.id}}">
		<label for="name">Name of the Recipe:</label>
		<input type="text" id="name" name="name" required value="{{recipe.name}}"><br><br>
		<label for="ingredients">Ingredients:</label>
		<textarea type="text" id="ingredients" name="ingredients" required cols="50" rows="10">{{recipe.ingredients}}</textarea><br><br>
		<label for="instructions">Instructions:</label>
		<textarea type="text" id="instructions" name="instructions" required cols="50" rows="10">{{recipe.instructions}}</textarea><br><br>
		<label for="tags">Tags:</label>
		<select name="tags" id="tags" multiple>
			{% for tag in tags %}
			<option value="{{tag.id}}"{% if tag['id'] in tagged %} selected{%endif%}>{{tag.name}}</option>
			{% endfor %}
		</select><br><br>
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
		<label for="edit">&nbsp;</label>
		<input type="submit" id="edit" value="Edit Recipe">
	</form><br><br>
	<a href="/recipe/remove/{{recipe.id}}">Remove this recipe</a>
{% endblock %}