{% extends "page_layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
	<h2>Register for recipes</h2>
	<form action="/user/create" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<label for="password">Retype password:</label>
		<input type="password2" id="password2" name="password2" required><br><br>
		<input type="submit" value="Create user"/>
	</form>
{% endblock %}